.layout-container {
    height: 100vh;

    display: flex;
    flex-direction: column;

    .space-grow {
        flex: 1 1 auto;
    }
}

main {
    flex-grow: 1;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
}

.footer {
    padding: 1rem;
    margin-top: 1rem;
    border-top: 1px solid #ccc;

    display: flex;
    justify-content: space-between;
}
