<span *ngIf="loading; else content">Loading...</span>

<ng-template #content>
    <a *ngIf="!isAuthorized" [href]="githubAuthUrl" mat-icon-button aria-label="Login with GitHub">
        <mat-icon>login</mat-icon>
    </a>

    <ng-container *ngIf="isAuthorized">
        <button mat-button [matMenuTriggerFor]="menu">
            <img [src]="authUser.avatar_url" class="avatar" alt="Profile photo"/>
        </button>
        <mat-menu #menu="matMenu">
            <a [href]="authUser.html_url" target="_blank" mat-menu-item>{{authUser.name}}</a>
            <a [href]="authUser.html_url" target="_blank" mat-menu-item>GitHub Profile</a>
            <mat-divider></mat-divider>
            <button (click)="logout()" mat-menu-item>Sign out</button>
        </mat-menu>
    </ng-container>
</ng-template>
